# =========================
# Python Environment
# =========================

.venv/
__pycache__/
*.pyc


# =========================
# Ignore ALL Python files under Data
# =========================

Data/**/*.py


# =========================
# Generated CSV files
# =========================

Data/CSV/*.csv